input:focus {
    outline: none;
  }

  input{
    border: none;
    background-color: rgb(234, 234, 234);
    margin-right: 10px;
    padding: 10px 20px 10px 5px;
    width: 23vw;
    border-radius: 10px;
    justify-content: center;
  }                                       

  .input button{
 flex: 1 0 130px;

  }  
  
  @media screen and (width<=500px){
   input{
    width: 90vw;
    margin: none;
   }
    .input button{
      flex-basis: 90vw;
      margin: none;
      margin: 1rem;
    }
  }