.QRpage {
  min-height: 100vh;
  display: flex;
  margin: 100px 70px;
  gap: 100px;
}
.QRpage-left {
  width: 50vw;
}
.QRpage-left img {
  width: 38vw;
}
.QRpage-right h1 {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.QRpage-right h3 {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}
.QRpage-right img {
  width: 200px;
  margin: 35px 0px;
}
.downloadimages img {
  width: 150px;
  margin: 6px;
}
@media screen and (width <=990px) {
  .QRpage {
    min-height: 100vh;
    display: flex;
    margin: 50px 5px;
    gap: 100px;
    flex-direction: column;
  }
  .QRpage-left {
    width: 80vw;
    margin: auto;
  }
  .QRpage-left img {
    width: 60vw;
    margin: auto;
  }
  .QRpage-right img {
    width: 160px;
    margin: 20px 12px;
  }
}
