.navbar {
  position: sticky !important;
  top: 0;
  z-index: 2;
  background-color: #6146e3 !important;
  border-bottom: 0.5px solid white;
}
.navleft {
  flex-basis: 65vw;
}
.navcenter {
  align-items: center;
  display: flex;
  justify-content: end;
}
.employes {
  color: white !important;
  font-weight: 600 !important;
  font-family: sans-serif !important;
  padding-right: 11% !important;
}

.png img {
  width: 180px;
  padding: 8%;
}

.border-none {
  border: none;
}
