.feature {
  display: flex;
  gap: 10%;
  height: 67vh;
  align-items: center;
  gap: 20px;
}
.feature-left {
  padding-left: 3%;
  flex-basis: 32vw;
}
.zaajira-text {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
}
.zaajira-text-bottom {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
}
.feature-right {
  display: flex;
  padding: 2.4%;
  padding-block: 4%;
  background-color: #f4f2ff;
  height: 40vh;
  justify-content: space-around;
  width: 65%;
}

.feature-content {
  text-align: left;

  /* height: 20vh; */
  flex-basis: 40vw;
  padding-inline: 1vw;
}
.feature-content1,
.feature-content2 {
  border-right: 1px solid rgb(97, 97, 97);
}
.feature-content p {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.feature-content i {
  font-size: 2rem;
  color: #775cea;
  padding: 7px;
  background-color: #d0c6ff;
  border-radius: 6px;
}

/* --------------------------Media query------------------------- */
