/* --------------------Banner right card---------------- */
.bannerright {
  width: 40vw;
  padding-inline: 10%;
}
.hireacandidate {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.findajob {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Card {
  background-color: white;
  padding-inline: 8%;
  padding-top: 9%;
  display: flex;
  width: 22vw;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d3d3d4;
}
.cardleft {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0px;
}
.I1 {
  color: #6244e5;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 0px;
  text-decoration: none;
  border-bottom: none;
}
.I2 {
  color: #d3d3d4;
  font-size: 0.85rem;
  text-decoration: none;
  /* font-weight: ; */
}
.cardright p {
  font-size: 1rem;
  font-weight: 100;
  color: #6146e3;
  text-decoration: none;
}
/* -------------hover effect-------------- */
.I1:hover {
  text-decoration: underline 2px solid #0056b3;
}
/* ----------------------Media ------------------------ */

@media screen and (width<=990px) {
  .banner {
    flex-direction: column;
    height: auto;
  }
  .bannerleft p {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 80vw;
    padding: 5%;
  }
  .bannerright {
    width: 100vw;
    padding-inline: 10%;
    align-items: center;
    margin-bottom: 10%;
  }
  .Card {
    background-color: white;
    padding-inline: 8%;
    padding-top: 9%;
    display: flex;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d3d3d4;
    margin: 0px;
    margin-bottom: 20px;
  }
  .hireacandidate,
  .findajob {
    border-radius: 10px;
  }
}
