/* .formContainer{
  display:flex;
 justify-content: space-between;
 flex-wrap: wrap;
 justify-content: start;
}

.items{
background-color: red;
margin: 20px;
width: 30vw;
}
 */

 .container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center;   */

}
.box {
  width:  28%;
  /* height: 100px; */
  margin: 20px ;
  /* background-color: #ccc; */
  box-sizing: border-box;
  /* border: 1px solid #000; */
  display: inline-block;
  /* padding: 10px; */
  margin-inline-start: 45px ;
}
.box input{
  padding-inline-start: 15px;
  border-radius: 5px !important;
  width: 90%;
  background-color: rgb(234, 234, 234);
}
@media screen and (width<= 1200px) {
  .box {
    width: 28%;
    margin-inline-start: none;
    margin: 5px;
 
  }

 
}

@media screen and (width<= 750px) {
  .box {
    width: 90%;
   margin-left: 20px;
   margin-top: 20px;
  }
 /* .box input{
  width: 80vw;
 } */
}
