
.interquestions{
  display: flex;

}
.mainbox {
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  width: 55vw;
  background-color: white;
   border-radius: 10px;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
input {
  font-size: 1.2rem;
}
.firstfield {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstfield input {
  width: 35rem;
  height: 4.5rem;
  font-size: 1.2rem;
}
.comman {
  /* padding-inline: 1rem; */
  padding-block: 0.7rem;
  display: flex;
  gap: 10px;
  align-items: center;
}
.comman input {
  height: 3.8rem;
}
.lastfield input {
  width: 5rem;
}

.addquestions{
  position: sticky;
  top: 50px;
    background-color: white;
    width: 40vw;
    margin-inline: none;
    margin-block: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100vh;
    overflow-y: scroll;
    padding: 3rem;
    border-left: 1px solid rgb(222, 226, 230);
}