.TopSection{
    background-color: rgb(98, 68, 229);
    height: fit-content;
}
.mainsection{
    padding-top: 3rem;
    margin-bottom: 3rem;
      flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
   }



.MyTab{
    width: 300px;
    border-radius: 8px;
    opacity: 1;
    background-color: rgb(57, 39, 142);
    display: flex;
    box-sizing: border-box;
    margin: 5rem 1rem;
    
}

.MyTabText{
    border-radius: 8px;
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    font-weight: 700;
    text-align: center;
    padding: 1.5rem;
    width: 25%;
    box-sizing: border-box;
    display: block;
}

.MyTabDetail{
    color: #fff !important;
    font-weight: 700 !important;
    margin: auto !important;
    box-sizing: border-box;
}

.text-muted{
    color:rgb(103, 115, 128) !important;
    font-weight: 700;
    margin: auto;
    box-sizing: border-box;
}