.main{
    margin:1rem;
     height:50%;
     margin-bottom: 10%;
}
.form{
 display:flex;
  flex-wrap:wrap;
 justify-content:start;
}

.inputArea{
    margin:1rem;
    }
@media screen and (width<=700px) {
      input{
    width: 70% !important;
}
}

@media screen and (width<=300px) {
    

    input{
      width: 50% !important;
     align-items: center;
  }
  button{
    width: 100%;
  }
  }